<div class="col s12">
    <div
        class="card
        {% if alert.ResultWinner == 'VS' %}
        card-vs
        {% elseif alert.ResultWinner == 'NC' %}
        card-nc
        {% elseif alert.ResultWinner == 'TR' %}
        card-tr
        {% endif %}
        {% if alert.InProgress == 1 %}darken-1{% else %}darken-2{% endif %}"
    >
        <div class="card-content overflow-hidden">
            <div class="row">
                <div class="col m3 alert-history-label">
                    <span class="parseDateTime" data-timestamp="{{ alert.ResultEndTime }}">
                        {{ alert.ResultEndTime|date('d-M-Y H:i:s') }}
                    </span>
                    <span class="block-title grey-text">
                        {% if alert.InProgress == 1 %}
                        STARTED
                        {% else %}
                        ENDED
                        {% endif %}
                    </span>
                </div>
                <div class="col m2 alert-history-label">
                    {{ attribute(serverNames, alert.ResultServer) }}
                    <span class="block-title grey-text">
                        SERVER
                    </span>
                </div>
                <div class="col m2 alert-history-label">
                    {{ attribute(zoneNames, alert.ResultAlertCont) }}
                    <span class="block-title grey-text">
                        CONTINENT
                    </span>
                </div>
                <div class="col m2 alert-history-label">
                    {{ attribute(times, alert.ResultTimeType) }}
                    <span class="block-title grey-text">
                        TIME BRACKET
                    </span>
                </div>
                <div class="col m3">
                    <a
                        class="btn btn-alert-history waves-effect  waves-light tooltipped"
                        data-position="top"
                        data-delay="0"
                        data-tooltip="View this alert's statistics">
                        <i class="fa fa-bar-chart-o"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="alert-row-seperator"></div>
                </div>
            </div>
            <div id="alert-{{ alert.ResultID }}" class="col s12" data-placeholder="territory-bar"></div>
        </div>
    </div>
</div>
